<div class="bg">

  <div class="container-fluid">
    <div class="row">
      <div class="col burger-header">
        <h1>Burger Bite</h1>
      </div>
    </div>
  </div>

  <div class="container">

    <div class="row">
      <div class="input-group col-sm burger-search">
        <input type="text" class="form-control" placeholder="Enter Burger Name to Eat" aria-label="Burger name"
          aria-describedby="button-addon2">
        <button class="btn  btn-warning" type="button" id="button-addon2">Add Burger</button>
      </div>
    </div>

    <div class="row gx-5">

      <div class="col-sm burger-list">
        <div class="p-3"></div>
        <div class="col-sm">
           {{#each burgers }}
          <div class="p-3 border bg-light" id={{this.id}}>
           {{this.burger_name}}
            <button class="btn burger-btn">Devour <i class="fas fa-hamburger"></i></button>
          </div>
           {{/each}}
        </div>
      </div>

      <div class="col-sm" id="devoured-list">
        <div class="p-3"></div>
        <div class="col-sm">
          <div class="p-3 border bg-light">Texas</div>
          <div class="p-3 border bg-light">Hot Chili</div>
          <div class="p-3 border bg-light">Spicy</div>
        </div>
      </div>

    </div>

  </div>

</div>