<div class="bg">
  <section class="container-fluid">
    <header class="row">
      <article class="col burger-header">
        <h1><i class="fas fa-hamburger"></i> Burger Bite</h1>
      </article>
    </header>
  </section>
  <main class="container">
    <div class="row">
      <div class="input-group col-sm burger-search">
        <input type="text" id="burger-name" class="form-control" placeholder="Enter Burger Name to Eat"
          aria-label="Burger name" aria-describedby="button-addon2">
        <button class="btn  btn-warning" id="submit-burger-btn" type="button" id="button-addon2">Add Burger</button>
      </div>
    </div>
    <div class="row gx-5">
      <section class="col-sm burger-list">
        <div class="p-3"></div>
        <div class="col-sm">
          {{#each burgers }}
          {{#unless this.devoured}}
          <div class="p-3 border bg-light">
            {{this.burger_name}}
            <button class="btn burger-btn" type="submit" id={{this.id}}>Devour <i class="fas fa-hamburger"></i></button>
          </div>
          {{/unless}}
          {{/each}}
        </div>
      </section>
      <section class="col-sm" id="devoured-list">
        <div class="p-3"></div>
        <div class="col-sm">
          {{#each burgers}}
          {{#if this.devoured}}
          <div class="p-3 border bg-light">{{this.burger_name}}
            <button class="btn btn-danger burger--delete-btn" type="submit" id={{this.id}}>Delete <i class="fas fa-trash-alt"></i></button>
          </div>
          {{/if}}
          {{/each}}
        </div>
      </section>
    </div>
  </main>
</div>